<ul class="list-disc">
  {% for post in postslist | reverse %}
  <li>
    <a class="text-2xl font-bold leading-7 sm:text-3xl sm:truncate hover:shadow hover:underline"
      href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
  </li>
  {% endfor %}
</ul>
