<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <link rel="stylesheet" href="/css/style.css?v={% version %}">
  <link rel="stylesheet" href="/css/prism-a11y-dark.css">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
</head>

<body>
  <header class="max-w-3xl px-4 mx-auto mt-6 text-center">
    <h1 class="text-3xl font-semibold"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    <p class="italic">{{ metadata.description }}</p>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <ul class="flex justify-center max-w-md mx-auto mt-6">
      {%- for entry in collections.all | eleventyNavigation %}
      <li class="mx-3 hover:underline{% if entry.url == page.url %} underline{% endif %}"><a
          href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
    </ul>
    <hr>
  </header>

  <main class="max-w-3xl mx-auto mt-6">
    {{ content | safe }}
  </main>

  <footer></footer>

  <!-- Current page: {{ page.url | url }} -->
</body>

</html>
