---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{{ content | safe }}

<hr class="mt-12">

<ul class="flex justify-center max-w-md mx-auto mt-6 mb-12">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>
  {% endif %}
  <li><a href="/">Home</a></li>
</ul>
