---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<!-- <hr class="mt-6"> -->
<!-- <p>More posts can be found in the <a class="italic hover:underline hover:shadow" href="{{ '/posts/' | url }}">archive</a>.</p> -->
